.set_loader1 {
    width: 27px;
    /* margin-top: -49px; */
    margin: 0 auto;
    position: absolute;
    top: -26px;
    background: red;
    left: 00;
    right: 0;
    position: relative;
    background: rgb(0 0 0 / 58%);
    width: 100%;
    z-index: 222222;
    text-align: center;

    margin: 0 0;
}


.set_loader1 img {
    width: 27px;
    display: block;
    margin: 0 auto;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active  
{
	background: #2800b4 !important;
}
.btn-primary, .btn-success
{
	background-color: #2800b4;
    border-color: #2800b4;
}

.card-body .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
{
	background: #2800b4 !important;
	color: white !important;
}

.card-body .dataTables_wrapper .dataTables_paginate .paginate_button:hover
{
	background: #2800b4 !important;
	color: white !important;
}

.dataTables_wrapper .dataTables_processing
{
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 30px;
    -webkit-box-shadow: 2px 6px 15px 0px rgba(69, 65, 78, 0.1);
    -moz-box-shadow: 2px 6px 15px 0px rgba(69, 65, 78, 0.1);
    box-shadow: 2px 6px 15px 0px rgba(69, 65, 78, 0.1);
    border: 0px;
        position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}


.dataTables_wrapper .dataTables_processing {

  
    width: 200px !important;
    margin-left: -100px !important;
    padding: 1px 0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
{
    color: white !important;
}
.w-30 {
    width: 30%;
}

/*css 01-04-2021 */
.content .small-box.bg-info {
    background: #2800b4;
    background: -moz-linear-gradient(top,  #2800b4 0%, #f01ec6 100%);
    background: -webkit-linear-gradient(top,  #2800b4 0%,#f01ec6 100%);
    background: linear-gradient(to bottom,  #2800b4 0%,#f01ec6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2800b4', endColorstr='#f01ec6',GradientType=0 );
}

.content .small-box.bg-info .icon i {
    color: #ffffff;
}
a {
    color: #2800b4;
}
.dataTables_paginate .paginate_button {
  border-radius: 50% !important;
}
.dataTables_paginate .paginate_button.previous {
    border-radius: 40px !important;
}
.dataTables_paginate .paginate_button.next {
    border-radius: 40px !important;
}
.dataTables_paginate .paginate_button {
    background-color: #fff;
    border: 1px solid #dee2e6 !important;
    margin: 0 5px;
}
.card-body .dataTables_wrapper .dataTables_paginate .paginate_button:hover:hover {
    background-color: #e9ecef !important;
    border-color: #dee2e6 !important;
    color: #2800b4 !important;
}
.card-body .dataTables_wrapper .dataTables_paginate .paginate_button.previous.disabled,
.card-body .dataTables_wrapper .dataTables_paginate .paginate_button.next.disabled {
    cursor: not-allowed;
}
.card-body .dataTables_wrapper .dataTables_paginate .paginate_button.previous.disabled:hover,
.card-body .dataTables_wrapper .dataTables_paginate .paginate_button.next.disabled:hover {
    background-color: #ffffff !important;
    color: #666 !important;
}
.card-body .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #2800b4 !important;
    color: white !important;
}
.dataTables_wrapper table {
    margin-bottom: 30px !important;
}
.dataTables_wrapper table .f-left .set_loader1 {
    background: transparent !important;
    top: 0 !important;
    margin-top: -27px !important;
}
.card-info:not(.card-outline)>.card-header {
    background-color: #2800b4;
}
.card-info:not(.card-outline)>.card-header .btn {
    border-color: #f01ec6;
    background: #f01ec6;
}
.dataTables_wrapper table tbody tr td .f-left .btn.set_loader {
    width: 100%;
}
.moment-reports-page table thead tr th:last-child, .moment-reports-page table tbody tr td:last-child,
.email-list-page table thead tr th:last-child, .email-list-page table tbody tr td:last-child,
.sms-list-page table thead tr th:last-child, .sms-list-page table tbody tr td:last-child,
.cms-module-page-list table thead tr th:last-child, .cms-module-page-list table tbody tr td:last-child,
.abusive-page-list table thead tr th:last-child, .abusive-page-list table tbody tr td:last-child {
    text-align: center;
}

/*.main-sidebar {
    background-color: #f01ec6;
}*/
.main-sidebar a{
    color: #ffffff !important;
}
.main-sidebar .nav-treeview>.nav-item>.nav-link.active, .main-sidebar .nav-treeview>.nav-item>.nav-link.active:focus, 
.main-sidebar .nav-treeview>.nav-item>.nav-link.active:hover {
    /*background-color: rgba(255,255,255,0.4);*/
    color: #343a40 !important;
}
.btn-success[title="Active"] {
    background-color: #28a745;
    border-color: #28a745;
}
/*css 01-04-2021 End*/